apiVersion: v1
kind: List
items:
  - apiVersion: v1
    kind: Service
    metadata:
      name: internal-db
    spec:
      ports:
        - name: http
          port: 8000
          targetPort: 8000
      selector:
        app: internal-db
      type: ClusterIP

  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: internal-db
    spec:
      replicas: 1
      selector:
        matchLabels:
          app: internal-db
      template:
        metadata:
          labels:
            app: internal-db
        spec:
          restartPolicy: Always

  - apiVersion: v1
    kind: Service
    metadata:
      name: other-generation
    spec:
      ports:
        - name: http
          port: 8000
          targetPort: 8000
      selector:
        app: other-generation
      type: ClusterIP

  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: other-generation
    spec:
      replicas: 1
      selector:
        matchLabels:
          app: other-generation
      template:
        metadata:
          labels:
            app: other-generation
        spec:
          restartPolicy: Always

  - apiVersion: v1
    kind: Service
    metadata:
      name: public-api
    spec:
      ports:
        - name: http
          port: 8000
          targetPort: 8000
      selector:
        app: public-api
      type: ClusterIP

  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: public-api
    spec:
      replicas: 1
      selector:
        matchLabels:
          app: public-api
      template:
        metadata:
          labels:
            app: public-api
        spec:
          containers:
            - name: public-api
              env:
                # Note: This value is overridden by patches/public-api.yaml
                # Set to pod CIDR to trust only cluster-internal proxy headers
                - name: FORWARDED_ALLOW_IPS
                  value: "172.20.0.1"
          restartPolicy: Always

  - apiVersion: v1
    kind: Service
    metadata:
      name: smart-quiz
    spec:
      ports:
        - name: http
          port: 8000
          targetPort: 8000
      selector:
        app: smart-quiz
      type: ClusterIP

  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: smart-quiz
    spec:
      replicas: 1
      selector:
        matchLabels:
          app: smart-quiz
      template:
        metadata:
          labels:
            app: smart-quiz
        spec:
          restartPolicy: Always

  - apiVersion: v1
    kind: Service
    metadata:
      name: text-loading
    spec:
      ports:
        - name: http
          port: 8000
          targetPort: 8000
      selector:
        app: text-loading
      type: ClusterIP

  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: text-loading
    spec:
      replicas: 1
      selector:
        matchLabels:
          app: text-loading
      template:
        metadata:
          labels:
            app: text-loading
        spec:
          restartPolicy: Always

  - apiVersion: v1
    kind: Service
    metadata:
      name: topic-modeling
    spec:
      ports:
        - name: http
          port: 8000
          targetPort: 8000
      selector:
        app: topic-modeling
      type: ClusterIP

  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: topic-modeling
    spec:
      replicas: 1
      selector:
        matchLabels:
          app: topic-modeling
      template:
        metadata:
          labels:
            app: topic-modeling
        spec:
          restartPolicy: Always
